.fondo{background-color: #F5F5F5; }
/*WHITE BOX*/
body {
    background: #F5F5F5;
}

.box {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #e5e5e5;
  margin: 0 0 2em 0;
  padding: 3em;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}


 input, select, textarea {
    color: #777;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.65em;
    letter-spacing: -0.015em;
}
.xx{
  background: #F5F5F5;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.65em;
  letter-spacing: -0.015em;
}

/*CONTAINER*/
#main {
    padding: 4em 0;
}






article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
/*************************BOX DIVISION*********************/
      .box.features .features-row:first-child {
          border-top: 0;
      }


      .box.features .features-row:after {
          clear: both;
          content: '';
          display: block;
      }

      .box.features .features-row:first-child section {
          padding-top: 0;
      }

      .box.features .features-row section:nth-child(2n-1) {
          padding-left: 0;
      }

      .box.features .features-row section {
          float: left;
          padding: 3em;
          width: 50%;
      }
/*******************************************************************/

/*BANNER*/
#banner {
  background-attachment: scroll,							fixed;
  background-color: #666;
  background-image: url("C:/Users/Alumno/Desktop/Playas/Test/overlay.png"), url("C:/Users/Alumno/Desktop/Playas/Test/banner.jpg");
  background-position: top left,						center center;
  background-repeat: repeat,							no-repeat;
  background-size: auto,							cover;
  color: #fff;
  padding: 12em 0 20em 0;
  text-align: center;
}

  #banner :last-child {
    margin-bottom: 0;
  }

  #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
    color: #fff;
  }

  #banner h2 {
    font-size: 3.5em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
  }

  #banner p {
    font-size: 1.25em;
    margin-bottom: 1.75em;
  }

  #banner input[type="submit"],
  #banner input[type="reset"],
  #banner input[type="button"],
  #banner .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
    color: #fff;
    min-width: 12em;
  }

    #banner input[type="submit"]:hover,
    #banner input[type="reset"]:hover,
    #banner input[type="button"]:hover,
    #banner .button:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    #banner input[type="submit"]:active,
    #banner input[type="reset"]:active,
    #banner input[type="button"]:active,
    #banner .button:active {
      background-color: rgba(255, 255, 255, 0.2);
    }

    #banner input[type="submit"].special,
    #banner input[type="reset"].special,
    #banner input[type="button"].special,
    #banner .button.special {
      background: #fff;
      color: #666 !important;
    }
/*********************************WORKS*****************************************************/

body.landing #page-wrapper {
  padding-top: 0;
}
body.landing #main {
  margin-top: -14em;
}
body.landing #main {
  padding: 0;
  margin-top: 0;
}
